* {
  color: #616a6b;
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/** Estilo para banner**/
.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 300px;
  text-align: center;
}
/** Estilo para nombre**/
.nombre {
  background-color: #b6c5b8;
  letter-spacing: 1.5pt;
  text-align: center;
  font-size: x-large;
}
/**Estilo para Sobre mi**/
.sobremi {
  background-color: #b6c5b8;
  font-size: large;
  text-align: center;
  text-decoration: underline;
  opacity: 0.6;
}
/** Estilo para principal **/
.principal {
  text-align: center;
  line-height: 30pt;
}
.indice {
  background-color: #b6c5b8;
  font-size: large;
  text-align: center;
  text-decoration: underline;
  opacity: 0.6;
}
.datospersonales{
    background-color: #b6c5b8;
  font-size: large;
  text-align: center;
  margin-top: 4pt;
  margin-bottom: 4pt;
  opacity: 0.5;
}
.listadatos{
    text-align: left;
    line-height: 20pt;
}
.formacionacademica{
    background-color: #b6c5b8;
    font-size: large;
    text-align: center;
    margin-top: 4pt;
    margin-bottom: 4pt;
    opacity: 0.5;
}
.listadoform{
    text-align: left;
    line-height: 20pt;
}
.experiencialaboral{
    background-color: #b6c5b8;
    font-size: large;
    text-align: center;
    margin-top: 4pt;
    margin-bottom: 4pt;
    opacity: 0.5;
}
.listaexperiencia{
    text-align: left;
    line-height: 20pt;
}
#lemonpie {
  text-decoration: underline;
}
#petshop {
  text-decoration: underline;
}
#batman {
  text-decoration: underline;
}
#cartelera{
    text-decoration: underline;
}
/** Estilo para footer **/
footer {
  background-color: #b6c5b8;
  opacity: 0.3;
  text-align: center;
}
