*{ box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif; ;
}

.descuentos{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 60px 5px 90px;
}

.descuentos span{
    color: white;
}

header {
    background-color:#F0A83E ;
    padding: 20px;
    color: white;

}
header a{
    width: 167px;
    height: 25px;
}

.menu{
display: flex;
justify-content: space-between;
align-items: center;
}

header ul{
    display: flex;
    gap: 15px;
}

.banner{
    display: flex;
    background-image: url('../img/Comida.PNG');
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 30px;   
    justify-content: flex-end;
}

.banner span{
    text-align: center;

    
}

